######定义 eureka 集群的端口，和地址名######
svc:
  port1: 1001
  port2: 1002
  port3: 1003
###### svc1 ######
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://svc2:${svc.port2}/eureka/,http://svc3:${svc.port3}/eureka/
  server:
    enable-self-preservation: false
spring:
  application:
    name: eureka-service
  profiles: svc1
server:
  port: 1001
---
###### svc2 ######
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://svc1:${svc.port1}/eureka/,http://svc3:${svc.port3}/eureka/
  server:
    enable-self-preservation: false
spring:
  application:
    name: eureka-service
  profiles: svc2
server:
  port: 1002
---
###### svc3 ######
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://svc2:${svc.port2}/eureka/,http://svc1:${svc.port1}/eureka/
  server:
    enable-self-preservation: false
spring:
  application:
    name: eureka-service
server:
  port: 1003